:root {
    --container-width: 90rem;
    --container-height: 65rem;
    --container-bg-color: rgba(11, 11, 11, 0.8);
    --container-border-radius: 1rem;
    --container-padding: 5rem;
}

body {
    font-family: Papyrus, fantasy;

}

#shop-container {
    
    width: var(--container-width);
    height: var(--container-height);
    background: url(https://www.geburtstagsschatz.de/wp-content/uploads/2018/02/Schatzkarte-blanko.jpg) no-repeat center center;
    background-size: cover;
    border-radius: var(--container-border-radius);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px #000000FA, 0px 0px 50px #000000FA inset;
    padding: var(--container-padding);
    color: rgba(0, 0, 0, 0.8);
    display: none;
}
#shop-container.active {
    display: block;
}

#shop-header {
    display: flex;
    justify-content: space-between;
}

#item-container {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr)); */
    gap: 2rem;
    margin-top: 2rem;
    height: 95%;
    overflow-y: auto;
}